* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  height: 100vh;
  overflow: hidden;
  background: url(../images/stadium.jpg) no-repeat center / cover;
}

#ball {
  width: 80px;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.2s ease, left 0.2s ease;
}

.go-home {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-family: sans-serif;
  font-weight: 900;
  color: purple;
}
